body {
  font: 1.2em / 1.5 system-ui;
  margin: 0 auto;
  width: 500px;
}

fieldset {
  border: 0;
}

fieldset,
legend {
  padding: 0;
  margin: 0;
}

input[type="text"] {
  margin-top: 5px;
  padding: 5px;
  width: 50%;
  display: block;
}

div,
fieldset {
  margin-top: 20px;
}

p {
  margin-top: 10px;
  padding: 20px;
  visibility: hidden;
}


button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #177014;
  color: white;
}

.delete {
  background-color: #f44336;
}

p.story {
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.save{

  border-radius: 4px;
  background-color: rgb(66, 163, 163);

}

.highlight {
  background-color: #ffeb3b;
  padding: 0 2px;
  border-radius: 2px;
}

button.search {
  background-color: #ff7b00;
}

button.encrypt {
  background-color: #a564ff;
}